<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to game stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/adventure.css">
	</head>
	<body>
		
		<div class="container">
			{{content}}
		</div><!--/.container -->
		<nav>
		<ul>
			<li></li><li></li>
			<li> Move Up </li>
		</ul>
		<ul>
			<li> Move Left </li>
			<li> Move Right </li>
		</ul>
		<ul>
			<li></li><li></li>
			<li> Move Down </li>
		</ul>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/adventure/">Start Over</a></li>
		</ul>
		</nav>
	</body>
</html>
