<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to game stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/game_start.css">
	</head>
	<body>
		<nav>
		<ul>
			<li><a href="/"> Home </a></li>
		</ul>
		</nav>
		<div class="container">
			{{content}}
		</div><!--/.container -->
		<footer>
		<ul>
			<h3>Made By:</h3>
			<li><a href="https://github.com/lillianrowley">Lillian Rowley</a></li>
			<li><a href="https://github.com/mattbrowley">Matthew Rowley</a></li>
		</ul>
		</footer>
	</body>
</html>
